.page{
	width:100%;
	height:100%;
	padding: 0.5%;
}
.headerpart{
	margin-top: 0;
	width:100%;
	height:150px;
	border-style:groove;
	background-color:red;
	background-image:url("");
}
.linkspart{
	width:100%;
	height:30px;
	border-style:groove;
	margin-top:7px;
	background-color:rgb(12,100,198);
}
.linkspart a{
	color:white;
	text-decoration: none;
	padding-top:20px;
	font-size: 25px;
}
.linkspart a:hover{
	
	color:yellow;
	
}
.bodypart{
	width:100%;
	height:800px;
	border-style:groove;
	margin-top:7px;
	background-color: white;
}
.bodypart .imagepart{
	width: 50%;
	float: left;
	height:300px;
	margin-top:20px;
	margin-left:10px;
	border-style:groove;
	/* display:inline-block; */
	background-image: url(/ACM media posts/aissmsioit.jpg)
	
}
.bodypart .newspart{
	width: 36.5%;
	float: right;
	height: 600px;
	border-style:groove;
	float:right;
	background-color: yellow;
}
.bodypart .newspart h2{
	color:green;
	text-align: center
}
.bodypart .newspart .news{
	width:430px;
	height:500px;
	
	margin-left:30px;
}
.bodypart .newspart .news h2{
	color:red;
	
}
.bodypart .newspart .news p{
	font-family: sans-serif;
}
.page .headerpart h1{
	font-family:serif;
	text-align: center;
	color: white;
	font-size: 50px;
}
.page .headerpart h2{
	font-family:serif;
	text-align: center;
	color: white;
	margin-top: -35px;
}
table, th, td{
	border:1px solid black;
}

.stform h3{
	font-family: monospace;
	text-align: center;
}
body{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROWLOzhbrlpiKE5_BeipvAEGaxDHruNbj0Sw&usqp=CAU")
	
}
.hompg a{
	font-family: sans-serif;
	font-size: 30px;
}
.hompg a:hover{
	color:yellow;
}
.info h2{
	font-family: Helvetica;
	font-size: 30px;
	color: green;
	text-align: center;
}
.info h3{
	
	
	color:red;
}
#customers{
	font-family: serif;
	border-collapse: collapse;
	width:100%;
}
#customer td, #customer th{
	border:1px solid #ddd;
	padding:8px;
}
#customer th{
	padding-top:12px;
	padding-bottom:12px;
	text-align:left;
	background-color: #4CAF50;
	color:white;
}
#customer tr:hover{
	background-color: #ddd;
}